// Navigation Styles here
nav {

.flex-spacing (flex-end, center);
width: 100%;
border-bottom: 2px dashed @navigation-border;

 a {
     font-size: 1.8rem;
     text-decoration: none;
     padding: 2.5%;
     color: @font-color;
 }
}